<!DOCTYPE html>
<html>
<head>
  <title>Data Nasabah</title><meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="/load_data">Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/preprocessing">Preprocessing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Modeling</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Implementation</a>
        </li>
      </ul>
    </div>
  </nav>

    <div id="detek1" style="display:block">
        <form name="detek1">
            <Label>Pilih Proses Preprocessing : </label><br><br>
            <input type="radio" name="pilih" id="ND" value="ND">
            <label for="ND">Normalisasi Data</label><br>
            <input type="radio" name="pilih" id="TD" value="TD">
            <label for="TD">Transformasi Data</label><br>
            <button type="button" onclick="next_detek()">Submit</button>
        </form>
    </div>

    <div id="detek2" style="display:none">
        <label><a href="/normalisasidata">Normalisasi Data</a></label>
    </div>
    
    <div id="detek3" style="display:none">
        <label><a href="/transformasidata">Transformasi Data</a></label>
    </div>

    <script>
        var nama;

        function next_detek()
        {
            if (document.getElementById("ND").checked == true)
            {
                document.getElementById("detek1").style.display = 'none';
                document.getElementById("detek2").style.display = 'block';
            }
            else if (document.getElementById("TD").checked == true)
            {
                document.getElementById("detek1").style.display = 'none';
                document.getElementById("detek3").style.display = 'block';
            }
            else
                alert('not clear');
        }
    </script>
</body>
</html>